

<!-- Features -->
<div class="row">
    <div class="span12">

	<div id="weekendtoremember_hype_container" style="position:relative;overflow:hidden;width:100%;height:370px;">
			<script type="text/javascript" charset="utf-8" src="http://s3.ecc12.com/pr/images/weekend-to-remember/weekendtoremember_hype_generated_script.js?20663"></script>
				</div>

				<hr />

        <div class="slider-wrapper theme-light">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
	       <a href="/page/aimforsuccess"><img src="/images/aimforsuccess-banner.png"
                     alt="Aim for Success - RSVP now!" /></a>
               <img src="/images/transformed2.png"
                     alt="Be transformed by the renewing of your mind" />
            </div>
        </div>

	<hr />

    <div id="menfightbanner_hype_container" style="position:relative;overflow:hidden;width:100%;height:370px;">
    		<script type="text/javascript" charset="utf-8" src="http://s3.ecc12.com/pr/images/men-fight-banner/menfightbanner_hype_generated_script.js?71489"></script>
			</div>

<!--
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
-->
    </div>
</div>

<hr />

<div class="row">
    <div class="span12">

        <h3>Services and Activities</h3>
        <p>
	    Our Sunday morning services are a mix of traditional and
	    contemporary worship styles. Our members come together as a family
	    each Sunday morning to worship God with all our hearts, minds, and
	    souls. We are open to the Holy Spirit moving us during the service
	    to become more like Christ. So come as you are for you welcome
            here!! Oh, and bring your smile!! 
        </p>
        <p>
	    During our worship service, please fill out a Guest card and place
	    it in the offering tray when it is passed during the communion
	    portion of our Worship. We would love to know that you visited and
	    want to know how we can answer any questions that you may have or
            how we can pray for you.
        </p>

    </div>
</div>
<div class="row">
    <div class="span6">
        <h4>Sunday</h4>
        <blockquote>
            <strong>9:00am</strong>
            <ul>
                <li>Nursey for ages 0 - 2</li>
                <li>"Jungle Mania" for ages 2 - 3rd grade</li>
                <li>"Code45" for 4th - 5th grade</li>
                <li>Bible Class for the 6th - 12th grade</li>
                <li>"Fusion" Bible Class for the College Students </li>
<!--            <li>Bible Class for Young Families/Married </li> -->
                <li>"Foundations" Bible Class for ages 40-60 </li>
                <li>"Sojourners" Bible Class for ages 60 and up </li>
            </ul>
            <strong>10:00am</strong>
            <ul>
                <li>Nursey for ages 0 - 2</li>
                <li>Worship service for youth and adults (<a href="/page/media">Live Stream</a>)</li>
                <li>Children's worship for ages 2 - 5</li>
            </ul>
            <strong>4:00pm</strong>
            <ul>
                <li><a href="http://www.friendspeak.org/">Friend Speak</a>
                    for students learning English</li>
            </ul>
            <strong>5:00pm</strong>
            <ul>
                <li>Young Families Group (with dinner &amp; babysitting)</li>
            </ul>
           <strong>5:30pm</strong>
            <ul>
                <li>"RE Connect" for the Youth Group on 3rd Sunday of each month</li>
            </ul>
            <strong>6:00pm</strong>
            <ul>
                <li>Adult Bible Study (with dinner)</li>
            </ul>
        </blockquote>

    </div>
    <div class="span6">

        <h4>Tuesday</h4>
        <blockquote>
            <strong>8:00pm</strong>
            <ul>
                <li>Women's Book Study Group (in homes)</li>
            </ul>
        </blockquote>

        <h4>Wednesday</h4>
        <blockquote>
            <strong>7:00pm</strong>
            <ul>
                <li>"WOW" Children's Bible class for ages 2 - 3rd grade</li>
                <li>"ECHO" for the Youth Group</li>
                <li>"Recharge" for parents of Youth</li>
                <li>"Parallel Study" for adults</li>
            </ul>
        </blockquote>

        <h4>Thursday</h4>
        <blockquote>
            <strong>7:00pm</strong>
            <ul>
                <li>"Young Life" for Arlington High School students</li>
            </ul>
        </blockquote>

        <h4>Friday</h4>
        <blockquote>
            <strong>5:30pm</strong>
            <ul>
                <li>Primetimers Pot Luck Dinner (<a href="/page/primetimers">click here for schedule</a>)</li>
            </ul>
        </blockquote>

    </div>
</div>


