
<!-- family -->
<!-- family.title -->
<div class="row">
  <div class="span12">
    <h2>Adams Family</h2>
  </div>
</div>
<!-- family.info -->
<div class="row">
  <!-- family.info.address -->
  <div class="span3">
    808 Wilshire Ct<br />
    Arlington, TX 76012<br />
    <br />
  </div>
  <!-- family.info.communication[] -->
  <div class="span9">
    Family Phone: (817) 275-7827<br />
  </div>
</div>
<!-- family.members[] as person -->
<div class="row">
  <!-- person -->
  <div class="span3">
    <!-- person.name -->
    <h4>W.C. Adams</h4>
    <!-- person.communication -->
    <!-- person.birthday -->
    Birthday: Feb 05<br />
    <!-- person.anniversary -->
  </div>
</div>
<hr />
<!-- /family -->        


