    <div class="row">
        <div class="span6 offset3">

            <h2>Site Login</h2>

            <p>You can find the login credentials for this site in the Sunday Morning Bulletin.  This password
            is not in the bulletin every week, so if you don't see it in this week's bulletin just give
            the church office a call.</p>

        </div>
    </div>

    <div class="row">
        <div class="span2 offset5" align="center">

            <p>&nbsp;</p>

            <form action="/login/_post" method="post"  class="form">
                <input type="hidden" id="username" name="_username" value="parkrow" />
                <input type="password" class="span2" id="password" name="_password" placeholder="password"/>
		<input type="hidden" id="crsf" name="_crsf" value="{{{token}}}" />

                <button class="btn btn-block" type="submit">Login</button>
            </form>

            <p>&nbsp;</p>

        </div>
    </div>

    <div class="row">
        <div class="span6 offset3">

            <p>If you have trouble using this site, or need to report a problem (such as a particular page
            not working on your iPhone) then please send an email to
            <a href="mailto:cameronking@parkrow.net">cameronking@parkrow.net</a>.</p>

        </div>
    </div>
