
<div class="row">
    <div class="span12">

        <h3>Website Error</h3>
        
        <p>We apologize, but if you are seeing this message, then it is possible 
        that we are experiencing system issues at this time.
        </p>

    </div>
</div>

<hr />


<div class="row">
    <div class="span12">

        <h3>Services and Activities</h3>
        <p>
	    Our Sunday morning services are a mix of traditional and
	    contemporary worship styles. Our members come together as a family
	    each Sunday morning to worship God with all our hearts, minds, and
	    souls. We are open to the Holy Spirit moving us during the service
	    to become more like Christ. So come as you are for you welcome
            here!! Oh, and bring your smile!! 
        </p>
        <p>
	    During our worship service, please fill out a Guest card and place
	    it in the offering tray when it is passed during the communion
	    portion of our Worship. We would love to know that you visited and
	    want to know how we can answer any questions that you may have or
            how we can pray for you.
        </p>
    </div>
</div>
        
<div class="row">
    <div class="span3">

        <p>
            <strong>Park Row Church of Christ</strong><br />
            915 W. Park Row Dr.<br />
            Arlington, TX 76013<br />
            (817) 277-1333
        </p>

        <p>
            We are located at Park Row Drive and Cooper Street. We are
            directly across from Arlington High School. Just turn into
            our driveway, park in the back (the large parking lot) and
            enter through one of 6 front doors. There will be someone to
            give you a friendly greeting and point you in the right direction.
        </p>
    </div>
    <div class="span9">
        <iframe src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=915+West+Park+Row+Drive,+Arlington,+TX&aq=0&oq=915+W.+Park+Row+Dr.,+Arlington,&sll=37.0625,-95.677068&sspn=56.462693,135.263672&ie=UTF8&hq=&hnear=915+W+Park+Row+Dr,+Arlington,+Texas+76013&t=m&ll=32.727364,-97.117853&spn=0.034659,0.054932&z=14&iwloc=A&output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="480"></iframe><br />
        <p align="center">
            <a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=915+West+Park+Row+Drive,+Arlington,+TX&aq=0&oq=915+W.+Park+Row+Dr.,+Arlington,&sll=37.0625,-95.677068&sspn=56.462693,135.263672&ie=UTF8&hq=&hnear=915+W+Park+Row+Dr,+Arlington,+Texas+76013&t=m&ll=32.727364,-97.117853&spn=0.034659,0.054932&z=14&iwloc=A">View Larger Map</a>
        </p>
    </div>
</div>

<div class="row">
    <div align="center" class="span12">
    
        <h3>Calendar</h3>

        <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23EFEFE9&src=0n013co19kl1enggt8h3ees9a8%40group.calendar.google.com&color=%235229A3&src=nupogr9ji4h5cmq5d4kscdjofo%40group.calendar.google.com&color=%23333333&src=a2gc52cmi9e4o74256ba51neoc%40group.calendar.google.com&color=%23182C57&src=bsb7og8n55i7s3ci3q9bm8pmm8%40group.calendar.google.com&color=%232F6309&src=tngfu3uirpaj53v2js617j3sec%40group.calendar.google.com&color=%232952A3&src=lbf867h00s4hc942h6ktfjubmc%40group.calendar.google.com&color=%231B887A&src=qs41sh3ags8r9n522suukmtnoc%40group.calendar.google.com&color=%236B3304&ctz=America%2FChicago" style=" border-width:0 " width="950" height="800" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://www.google.com/calendar/b/0/embed?mode=AGENDA&showTitle=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&height=600&wkst=1&bgcolor=%23EFEFE9&src=0n013co19kl1enggt8h3ees9a8%40group.calendar.google.com&color=%235229A3&src=nupogr9ji4h5cmq5d4kscdjofo%40group.calendar.google.com&color=%23333333&src=a2gc52cmi9e4o74256ba51neoc%40group.calendar.google.com&color=%23182C57&src=bsb7og8n55i7s3ci3q9bm8pmm8%40group.calendar.google.com&color=%232F6309&src=tngfu3uirpaj53v2js617j3sec%40group.calendar.google.com&color=%232952A3&src=lbf867h00s4hc942h6ktfjubmc%40group.calendar.google.com&color=%231B887A&src=qs41sh3ags8r9n522suukmtnoc%40group.calendar.google.com&color=%236B3304&ctz=America%2FChicago" style=" border-width:0 " width="950" height="1000" frameborder="0" scrolling="no"></iframe>

    </div>
</div>

