<h3>Who We Are</h3>
<p>Our children's class on Sunday morning is fun, upbeat and exciting. They will
explore God's Word thru music, puppets, and hands-on activities. No matter what
age your child is, know that they are being taught about God and how to be a
servant to others. </p>
<h3>Sunday Morning</h3>
<p>Bible Class 9:00 - 10:00 am<br />
Nursery: Birth thru 2 yrs<br />
Jungle Mania: 2 yrs - 3rd grade<br />
Core45: 4th - 5th grade</p>
<h3>Worship Hour</h3>
<p>Nursery: Birth -2 yrs<br />
Children's Worship: 2yrs - 5 yrs.</p>
<p>Children's Woship is a way for our kids to worship God in their own way during
the Sunday morning service. Children will be dismissed during worship.</p>
<h3>Wednesday Night</h3>
<p>"WOW" Worship on Wednesday 7:00 - 8:00pm</p>
