<div class="row">
    <div class="span3">

        <p>
            <strong>Park Row Church of Christ</strong><br />
            915 W. Park Row Dr.<br />
            Arlington, TX 76013<br />
            (817) 277-1333
        </p>

        <p>
            We are located at Park Row Drive and Cooper Street. We are
            directly across from Arlington High School. Just turn into
            our driveway, park in the back (the large parking lot) and
            enter through one of 6 front doors. There will be someone to
            give you a friendly greeting and point you in the right direction.
        </p>
    </div>
    <div class="span9">
        <iframe src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=915+West+Park+Row+Drive,+Arlington,+TX&aq=0&oq=915+W.+Park+Row+Dr.,+Arlington,&sll=37.0625,-95.677068&sspn=56.462693,135.263672&ie=UTF8&hq=&hnear=915+W+Park+Row+Dr,+Arlington,+Texas+76013&t=m&ll=32.727364,-97.117853&spn=0.034659,0.054932&z=14&iwloc=A&output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="480"></iframe><br />
        <p align="center">
            <a style="color: #0000ff; text-align: left;" href="http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=915+West+Park+Row+Drive,+Arlington,+TX&aq=0&oq=915+W.+Park+Row+Dr.,+Arlington,&sll=37.0625,-95.677068&sspn=56.462693,135.263672&ie=UTF8&hq=&hnear=915+W+Park+Row+Dr,+Arlington,+Texas+76013&t=m&ll=32.727364,-97.117853&spn=0.034659,0.054932&z=14&iwloc=A">View Larger Map</a>
        </p>
    </div>
</div>
