<div class="row">
    <div class="span8 offset2">

        <div align="center">
            <iframe width="640" height="385"
                    src="http://cdn.livestream.com/embed/ckxng?layout=4&color=0xe7e7e7&autoPlay=false&mute=false&iconColorOver=0x888888&iconColor=0x777777&allowchat=true&height=385&width=640"
                    style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
        </div>

        <p>&nbsp;</p>

        <hr />

        <p>
            We have hundreds of past sermons available upon request
            spanning several years.  Please let us know which sermons
            you would like, and we will do our best to accommodate
            every request.  Send an email to
            <a href="mailto:av@parkrow.net">av@parkrow.net</a> or fill
            out the form below. Thank you!
        </p>

        <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDQxR0w1NDZCYnVrQ3NUdnZqQzhZQUE6MQ&bgcolor=%23EFEFE9"
                frameborder="0" marginwidth="0" marginheight="0" width="600" height="772"></iframe>

    </div>
</div>

