    <div id="menfightbanner_hype_container" style="position:relative;overflow:hidden;width:100%;height:370px;">
                    <script type="text/javascript" charset="utf-8" src="http://s3.ecc12.com/pr/images/men-fight-banner/menfightbanner_hype_generated_script.js?71489"></script>
		                            </div>
<p>&nbsp;</p>

<p>Beginning Wednesday January 28, at 7pm We will be beginning a Men's 5 week DVD led study.  FIGHT: Winning the Battles that Matter Most is a 5 week study that looks at the life of Samson--a strong man with glaring weaknesses. In Fight, a video-based small group Bible study, pastor and bestselling author Craig Groeschel explores the life of Samson, helping you uncover who you really are---a man created with a warrior’s heart in the image of God---and how to stand up and fight for what’s right.  By looking at Samson's life, you'll learn to defeat the demons that make strong men weak. You'll tap into a strength you never knew possible. You'll become who God made you to be--a man who knows how to FIGHT for what's right.  The cost is $10 for the Study Guide. </p>
