<div class="row">
    <div class="span2 offset2">
        <a href="./youth_ministry"><img width="256" height="256" border="0"
           src="http://1.cdn06.v.ecc12.com/bundles/ecc12prhome/images/prsm-badge.png" /></a>
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="span2 offset2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="span2 offset2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
    <div class="span2">
        <img src="http://placehold.it/256x256&text=ministry" />
    </div>
</div>
