
<h3>Who We Are</h3>

<p>The Primetimers Group at Park Row consists of anyone 55 and older who wishes
to meet on a monthly basis to gt to know one another better.  It affords us an
opportunity to learn about any needs that exist in this group and to provide
help when necessary.  We meet in the Park Row Fellowship hall.  Contact Georgia
Cunningham through the church office, or simply join us at any or all of these
times.  Great folks... Great times!</p>

<h3>Pot Luck Dinner Schedule</h3>

<p>We meet at 5:30pm on the following Friday evenings:</p>

<ul>
  <li>January 24, 2014</li>
  <li>February 21, 2014</li>
  <li>March 28, 2014</li>
  <li>April 25, 2014</li>
  <li>May 23, 2014</li>
  <li>June 27, 2014</li>
  <li>July 25, 2014</li>
  <li>August 22, 2014</li>
  <li>September 26, 2014</li>
  <li>October 24, 2014</li>
  <li>November 21, 2014 (no potluck, details TBD)</li>
  <li>(no meeting in December)</li>
</ul>

