<p><img src="http://www.parkrow.net/images/Trunk-or-Treat-2013-b.jpg?b8861e" /><br clear="right"/></p>
<h2>Looking for a safe alternative for Halloween?</h2>
<p>Come and join us Sunday, October 27 at 5:00pm for Park Row's annual Trunk or
Treat.  Kids can jump in bounce houses, win prizes and candy, and get their
faces painted!  Our Trunk or Treat event is a safe, supervised event that the
whole family can participate in.  Come dressed in costume and enjoy a family
night out with us.</p>
<p>We will have several (FREE!) food options:</p>
<ul>
<li>hamburgers</li>
<li>hot dogs</li>
<li>chips</li>
<li>soda</li>
<li>desserts</li>
<li>and of course CANDY CANDY CANDY!</li>
</ul>
<p>Examples of fun costume themes for your family:</p>
<ul>
<li>Superheros (the more original the better!)</li>
<li>Similar professions</li>
<li>Silly outfits</li>
<li>Animal costumes</li>
<li>Celebrity look-alikes</li>
<li>... get creative with it!</li>
</ul>
<p>Questions?  Call the church office at 817-277-1333 or email us at <a href="mailto:prchurch@parkrow.net">prchurch@parkrow.net</a></p>
<h3>Bringing a trunk?</h3>
<ul>
<li>Please arrive between 4:00pm - 4:30pm</li>
<li>There is no vehicle entry or exit during the event, plan to stay for the whole time.</li>
<li>Decorate your trunk (maybe it can coordinate with your costume!)</li>
<li>We are expecting 500+ participants, please bring plenty of candy and/or prizes</li>
</ul>
<h2>Signup/RSVP Form</h2>
<iframe src="https://docs.google.com/forms/d/1C6kw-l1S06qVTwmACkRy7DudZWDusOP8akkNXXcJBII/viewform?embedded=true" width="100%" height="1350" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
