<div align="center"><img width="50%" height="50%" 
  src="http://1.cdn06.v.ecc12.com/bundles/ecc12prhome/images/prsm-logo.png" /></div>

<h3>Who We Are</h3>
<p>Park Row Student Ministry is a ministry of Park Row Church of Christ in
Arlington, Tx.  We want to help students connect with God, connect with each
other, and have fun along the way.  We do this by providing fun engaging
worship, authentic relevant teaching, and providing opportunities to serve
others.</p>
<p>We seek to...</p>
<ul>
<li>Build up leaders who will influence their friends in a positive way</li>
<li>Involve families and loving adults to model a Christian life to students</li>
<li>Give students an opportunity to serve each other and the community</li>
<li>Teach the Bible in a fun, relevant way</li>
</ul>
<p>We hope to see you at one of our services</p>
<h3>Service Times</h3>
<p>Sunday 9:15am<br />
Wednesday 6:15pm-8:00pm</p>
<h3>Media</h3>
<p><a href="https://vimeo.com/parkrowstudentministry">https://vimeo.com/parkrowstudentministry</a></p>
<h3>Contact</h3>
<p>Brent Stafford<br />
brentstafford@parkrow.net<br />
817-277-1333</p>